<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="calculator">
      <ion-icon name="calculator"></ion-icon>
      Calculadora
    </ion-tab-button>
    <ion-tab-button tab="contacts">
      <ion-icon name="person-outline"></ion-icon>
      Contactos
    </ion-tab-button>
    <ion-tab-button tab="translator">
      <ion-icon name=language-outline></ion-icon>
      Traductor
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>